<template name="customer_Kopie">
    <main class="dapp-content">
		<h1><strong>Verträge</strong> Übersicht</h1>
		<h2>H2-Überschrift</h2>
		<h3>H3-Überschrift</h3>
		<h4>H4-Überschrift</h4>
		<p>Paragraf</p>
		<span>Span</span>
		<p><input id="test" type="text" name="test" class="dapp-large" /></p>
		<p><div class="dapp-select-account">
			<select>
				<option selected="selected">Option 1</option>
				<option>Option 2 lannnnnnnnnnnnnnnnnnnnnnnnnnnng</option>
				<option>Option 3</option>
			</select>
		</div></p>
		<button class="wallet-box create account"><div class="account-pattern">+</div><h3>Versicherung beantragen</h3></button>
		<button class="show-data dapp-block-button dapp-small">Versicherung</button>
		<div class="row clear">
		    <div class="col col-7 mobile-full">
				<h3>Gebühr auswählen</h3>
				<div class="dapp-select-gas-price">
			        <span>0.000283991257427771 <span>ETHER</span></span>
			        <br>
		    	    <input type="range" name="fee" min="-5" max="5" step="1">
		        	<span>Billiger</span>
		        	<span>Schneller</span>
		    	</div>
			</div>
		            
			<div class="col col-5 mobile-full send-info">
			    <br><br>
			    Dies ist der höchste Betrag der durch die Transaktion verbraucht werden könnte. Ihre Transaktion wird voraussichtlich <strong>In ein paar Minuten</strong> bestätigt.
			
			    
			</div>
		    <div class="dapp-clear-fix"></div>
	    </div>
    </main>
</template>
