<template name="customer">
    <main class="dapp-content">
		<h1>Vertrag abschließen</h1>
		<h4>Name</h4>
		<p><input id="name" type="text" name="test" class="dapp-large" /></p>
		<h4>Betrag</h4>
		<p><input id="amount" type="text" name="test" class="dapp-large" /></p>
		<h4>Versicherung</h4>
		<p><select id="description">
			<option selected="selected" value="Unfall">Unfallversicherung</option>
			<option value="Hausrat">Hausratversicherung</option>
			<option value="Elektronik">Elektronikversicherung</option>
		</select>
		</p>
		<button id="send" class="dapp-block-button dapp-small" >Abschließen</button>
		<p>Ergebnis: <div id="res"></div></p>
		<p><div style="color:#ff0000;" id="error"></div></p>
    </main>
</template>
