<template name="login">
    <main class="dapp-content">
    <h1>Login</h1>
	<p>Kunde: john.doe@gmail.com</p>
	<p>Underwriter: underwriter@p2p.com</p>
	<p>Adjuster: adjuster@p2p.com</p>
	<p><input id="email" type="text" name="email" class="dapp-large" placeholder="E-Mail" /></p>
	<p><input id="password" type="password" name="password" class="dapp-large" placeholder="Password" /></p>
	<p><button id="login" class="show-data dapp-block-button dapp-small">Anmelden</button></p>
	<div><strong><span id="error_message" style="color:#ff0000;"></span></strong></div>
	
	</main>
</template>
